In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
display(data.head())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [4]:
print(data.describe())
print(data.info())

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB
None

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов
# Добавим столбец с показателем рентабельности фильмов (profit = revenue - budget)
data['profit'] = data['revenue']-data['budget']
# Добавим столбец с номером месяца, в который фильм был выпущен в прокат
data.release_date = data.release_date.apply(lambda x:x.split('/')) # для этого убераем разделитель / из поля release_date
data['month'] = data.release_date.apply(lambda x:x[0]) # в новое month поле добавляем первый элемент поля release_date

# 1. У какого фильма из списка самый большой бюджет?

In [6]:
data1 = data.copy()
print(data1.loc[data1.budget==data1.budget.max()].imdb_id) # Идентификатор фильма с самым большим бюджетом
print(data1.loc[data1.budget==data1.budget.max()].original_title) # Наименование фильма с самым большим бюджетом

723    tt1298650
Name: imdb_id, dtype: object
723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [7]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # + с первой попытки

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
data2 = data.copy()
print(data2.loc[data2.runtime==data2.runtime.max()].imdb_id) # Идентификатор самого длительного фильма
print(data2.loc[data2.runtime==data2.runtime.max()].original_title) # Наименование самого длительного фильма

1157    tt0279111
Name: imdb_id, dtype: object
1157    Gods and Generals
Name: original_title, dtype: object

In [9]:
answers['2'] = 'Gods and Generals (tt0279111)'  # + с первой попытки

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data3 = data.copy()
print(data3.loc[data3.runtime==data3.runtime.min()].imdb_id) # Идентификатор самого короткого фильма
print(data3.loc[data3.runtime==data3.runtime.min()].original_title) # Наименование самого короткого фильма

768    tt1449283
Name: imdb_id, dtype: object
768    Winnie the Pooh
Name: original_title, dtype: object

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  # + с первой попытки

# 4. Какова средняя длительность фильмов?

In [12]:
data4 = data.copy()
answers['4'] = round(data4.runtime.mean()) # Вычисление средней длительности фильмов
print(answers['4'])

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
data5 = data.copy()
answers['5'] = data5.runtime.median() # Вычисление медианной длительности фильмов
print(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
data6 = data.copy()
print(data6.loc[data6.profit==data6.profit.max()].original_title)  # Определяем самый прибыльный фильм
print(data6.loc[data6.profit==data6.profit.max()].imdb_id)         # Определяем идентификатор самого прибыльного фильма

239    Avatar
Name: original_title, dtype: object
239    tt0499549
Name: imdb_id, dtype: object

In [15]:
answers['6'] = 'Avatar (tt0499549)'   # + с первой попытки

# 7. Какой фильм самый убыточный?

In [16]:
data7 = data.copy()
print(data7.loc[data7.profit==data7.profit.min()].original_title)  # Определяем самый убыточный фильм
print(data7.loc[data7.profit==data7.profit.min()].imdb_id)         # Определяем идентификатор самого убыточного фильма

1245    The Lone Ranger
Name: original_title, dtype: object
1245    tt1210819
Name: imdb_id, dtype: object

In [17]:
answers['7'] = 'The Lone Ranger (tt1210819)'   # + с первой попытки

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
data8 = data.copy()
answers['8'] = len(data8[data8.profit>0].profit)   # Определяем количество рентабельных фильмов
print(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
data9 = data.copy()
data_2008=data9[data9.release_year==2008]   # Формируем датафрейм из фильмов 2008 года выпуска
print(data_2008[data_2008.profit==data_2008.profit.max()].original_title) #  Определяем название и идентификатор 
print(data_2008[data_2008.profit==data_2008.profit.max()].imdb_id)        #  самого прибыльного фильма 2008 года

599    The Dark Knight
Name: original_title, dtype: object
599    tt0468569
Name: imdb_id, dtype: object

In [20]:
answers['9'] = 'The Dark Knight (tt0468569)'   # + с первой попытки

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
data10 = data.copy()
data_p1=data10[(data10.release_year>=2012)&(data10.release_year<=2014)]  # Формируем датафрейм из фильмов 2012-2014 годов 
print(data_p1[data_p1.profit==data_p1.profit.min()].original_title) #  Определяем название и идентификатор 
print(data_p1[data_p1.profit==data_p1.profit.min()].imdb_id)        #  самого убыточного фильма периода

1245    The Lone Ranger
Name: original_title, dtype: object
1245    tt1210819
Name: imdb_id, dtype: object

In [22]:
answers['10'] = 'The Lone Ranger (tt1210819)'   # + с первой попытки

# 11. Какого жанра фильмов больше всего?

In [23]:
data11 = data.copy()
# Разделяем лямбда функцией перечень жанров в одной строке датафрейма для корректного подсчета. 
# Соединяем датафрейм, в котором каждая строка содержит только один вид жанра.
# Считаем число упоминаний каждого жанра.
display(data11.genres.apply(lambda x:x.split(sep = '|')).explode().value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [24]:
answers['11']='Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [25]:
data12 = data.copy()
# Формируем датафрейм только с прибыльными фильмами.
# Разделяем лямбда функцией перечень жанров в одной строке датафрейма для корректного подсчета. 
# Соединяем датафрейм, в котором каждая строка содержит только один вид жанра. Считаем число упоминаний каждого жанра.
display(data12[data12.profit > 0].genres.apply(lambda x:x.split(sep = '|')).explode().value_counts())

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [26]:
answers['12']='Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [27]:
data13 = data.copy()
dir=data13.groupby(['director']).sum()  # Группируем датафрейм по полю режиссер (director) с функцией суммирования
display(dir.loc[dir.revenue==dir.revenue.max()])  # Определяем запись с максимальным кассовым сбором

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

In [28]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [29]:
import collections
data14 = data.copy()
# Формируем датафрейм с фильмами жанра Action.
data_action = data14[data14.genres.str.contains('Action', na = False)] 
# Разделяем режиссеров для корректного подсчета (есть фильмы, у которых более одного режиссера).
# Определяем число упоминаний каждого режиссера, сортируем список по частоте упоминаний.
display(collections.Counter(data_action['director'].str.cat(sep = '|').split('|')).most_common(5))

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6)]

In [30]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [31]:
data15 = data.copy()
data2012 = data15[data15.release_year == 2012].copy() # Формируем датафрейм из фильмов 2012 года выпуска.
data2012['cast']=data2012['cast'].str.split('|') # Разделяем актеров для корректного подсчета.
data_cast = data2012.explode('cast') # формируем датафрейм, у которого в каждой строке только один актер.
# группируем датафрейм по актерам с функцией суммирования, сортируем по величене кассовых сборов.
data_cast.groupby('cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [32]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [33]:
data16 = data.copy()
data16['cast']=data16['cast'].str.split('|') # Разделяем актеров для корректного подсчета.
data_cast=data16.explode('cast') # формируем датафрейм, у которого в каждой строке только один актер.
# формируем датафрейм из фильмов с бюджетом выше среднего, выводим столбец 'cast', отсортированный по частоте повторений
data_cast.loc[data_cast['budget']> data_cast['budget'].mean()]['cast'].value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Rosemary Harris       1
Emily Barclay         1
Faith Ford            1
Cher                  1
Matthew Lillard       1
Name: cast, Length: 1505, dtype: int64

In [34]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [35]:
data17 = data.copy()
# формируем датафрейм из фильмов с участие Николаса Кеджа
data_nc=data17[data17.cast.str.contains('Nicolas Cage')]
# в поле "жанр" убираем разделители, подсчитываем количество повторений жанров, выводим максимальное значение
answers['17'] = Counter(data_nc.genres.str.split('|').sum()).most_common(1)
print(answers['17'])

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [36]:
data18 = data.copy()
# Формируем датафрейм из фильмов компании Paramount Pictures
data_pp = data18[data18['production_companies'].str.contains('Paramount Pictures')] 
# Группируем датафрейм по полю наименования фильма (release_year) с функцией суммирования
df_title=data_pp.groupby(['original_title']).sum() 
# Выводим датафрейм, состоящий из одной строки с минимальным значением прибыли.
display(df_title.loc[df_title.profit==df_title.profit.min()])

,budget,revenue,runtime,vote_average,release_year,profit
original_title,,,,,,
K-19: The Widowmaker,100000000,35168966,138,6.0,2002,-64831034

In [37]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [38]:
data19 = data.copy()
# Группируем датафрейм по полю год выпуска (release_year) с функцией суммирования
df_year=data19.groupby(['release_year']).sum() 
# Выводим датафрейм, состоящий из одной строки с максимальным значением кассовых сборов.
display(df_year.loc[df_year.revenue==df_year.revenue.max()])

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

In [39]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [40]:
data20 = data.copy()
# Формируем датафрейм из фильмов компании Warner Bros
data_wb = data20[data20['production_companies'].str.contains('Warner Bros')].copy()
# Группируем датафрейм по полю год выпуска (release_year) с функцией суммирования
df_year=data_wb.groupby(['release_year']).sum() 
# Выводим поле прибыли датафрейма, состоящего из одной строки с максимальным значением прибыли.
display(df_year.loc[df_year.profit==df_year.profit.max()].profit)

release_year
2014    2295464519
Name: profit, dtype: int64

In [41]:
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [42]:
import collections
data21=data.copy()
# используя предварительно созданный столбец 'month', вычисляем количество выпущенных фильмов по месяцам
# сохраняем ответ в словаре answers, выводим ответ на экран для самопроверки
answers['21'] = collections.Counter(data21.month).most_common(1)
print(answers['21'])

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [43]:
data22=data.copy()
# используя предварительно созданный столбец 'month', формируем датафрейм из фильмов, выпущенных летом
release_sommer = data22.loc[data22.month.isin(['6','7','8'])]
# определяем длину (количество строк) нового датафрейма, результат сохраняем в словаре answers
answers['22'] = len(release_sommer)
print(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [44]:
import collections
data23=data.copy()
# убираем разделитель / из поля director для корректного подсчета количества фильмов
data23.director = data23.director.apply(lambda x:x.split('|'))
# используя предварительно созданный столбец 'month', формируем датафрейм из фильмов, выпущенных зимой
release_winter = data23.loc[data23.month.isin(['12','1','2'])]
# считаем количество упоминаний режиссеров в фильмах "зимнего" датафрейма, результат сохраняем в словаре answers
answers['23'] = collections.Counter(release_winter.director.explode()).most_common(1)
print(answers['23'])

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [45]:
data24 = data.copy()
# формируем столбец 'len_title' с количеством символов в названии фильмов
data24['len_title'] = data24.original_title.apply(lambda x:len(x))
# формируем столбец 'list_prod_comp', для этого убираем разделитель из поля 'production_companies'
# и составляем датафрейм, в котором каждая строка содержит название только одного производителя
data24['list_prod_comp'] = data24.production_companies.str.split('|')
data24_2 = data24.explode('list_prod_comp')
# Группируем датафрейм по полю 'list_prod_comp' с функцией подсчета средних значений
data_prod_comp = data24_2.groupby(['list_prod_comp']).mean()
# Выводим датафрейм, состоящий из одной строки с максимальным значением усредненной длины названий фильмов.
print(data_prod_comp.loc[data_prod_comp.len_title == data_prod_comp.len_title.max()])

                             budget      revenue  runtime  vote_average  \
list_prod_comp
Four By Two Productions  18000000.0  261572744.0     82.0           6.4

                         release_year       profit  len_title
list_prod_comp
Four By Two Productions        2006.0  243572744.0       83.0

In [46]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [47]:
data25 = data.copy()
# формируем столбец 'sum_words_overview' с количеством слов в описании фильмов
data25['sum_words_overview'] = data25.overview.apply(lambda x: len(x.split(' ')))
# формируем столбец 'list_prod_comp', для этого убираем разделитель из поля 'production_companies'
# и составляем датафрейм, в котором каждая строка содержит название только одного производителя
data25['list_prod_comp'] = data25.production_companies.str.split('|')
data25_2 = data25.explode('list_prod_comp')
# Группируем датафрейм по полю 'list_prod_comp' с функцией подсчета средних значений и сортировкой по
# количеству слов в описании от большего к меньшему, выводим первую строку нового датафрейма
data25_2.groupby(['list_prod_comp'])['sum_words_overview'].mean().sort_values(ascending=False).head(1)

list_prod_comp
Midnight Picture Show    175.0
Name: sum_words_overview, dtype: float64

In [48]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [49]:
data26 = data.copy()
# формируем датафрейм из столбцов названия и рейтинга фильмов, сортируем по рейтингу от лучшего к худшему
data26_2 = data26.sort_values('vote_average', ascending=False)[['original_title', 'vote_average']]
# выводим сотую часть лучших по рейтингу фильмов
data26_2.query('vote_average >= vote_average.quantile(0.99)').sort_values('vote_average')

                                         original_title  vote_average
1213                                 Dallas Buyers Club           7.8
283                                          Mr. Nobody           7.8
316                                            3 Idiots           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1444                                       The Prestige           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8
155                            The Theory of Everything           7.8
1688                                There Will Be Blood           7.8
863               The Lord of the Rings: The Two Towers           7.8
177                              The Fault in Our Stars           7.8
124                                          Big Hero 6           7.8
28                                            Spotlight           7.8
1188                                                Her           7.8
1205                                          Prisoners           7.8
138                            The Grand Budapest Hotel           7.9
370                                           Inception           7.9
1800                                            Memento           7.9
1081      The Lord of the Rings: The Return of the King           7.9
119                             Guardians of the Galaxy           7.9
1191                                   12 Years a Slave           7.9
128                                           Gone Girl           7.9
1183                            The Wolf of Wall Street           7.9
872                                         The Pianist           7.9
34                                                 Room           8.0
9                                            Inside Out           8.0
125                                  The Imitation Game           8.0
118                                        Interstellar           8.0
599                                     The Dark Knight           8.1

In [50]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [51]:
import collections
from itertools import combinations
data27 = data.copy()
# убираем из поля 'cast' разделитель, формируем с помощью combinations все возможные варианты актерских пар и вносим их 
# в поле 'pairs'. далее объединяем датафрейм, в котором в каждой строке в поле 'pairs' есть одна актерская пара 
data27['cast'] = data27['cast'].apply(lambda x:x.split('|'))
data27['pairs'] = data27['cast'].apply(lambda s: list(combinations(s, 2)))
data27 = data27.explode('pairs')
# считаем повторения всех актерских пар, сортируем по частоте повторений, сохраняем самую часто встречающуюся пару в ответе
answers['27'] = collections.Counter(data27['pairs']).most_common(1)
print(answers['27'])

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [52]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': [('Action', 17)],
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': [('9', 227)],
 '22': 450,
 '23': [('Peter Jackson', 7)],
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8)]}

In [53]:
# и убедиться что ни чего не пропустил)
len(answers)

27