In [1]:
my_list_a=list()

In [2]:
type(my_list_a)

list

In [4]:
OurBestStudents = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 
                   'Максим', 'Светлана', 'Арина', 'Серафим', 'Doomer', 
                   'Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']
print(OurBestStudents[14])

Вячеслав

In [10]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']
print(body[-7:-5])

['руки', 'ноги']

In [15]:
spisok='а;б;в;;г;д;её;ж;и;к'.split(';')
print(spisok)

['а', 'б', 'в', '', 'г', 'д', 'её', 'ж', 'и', 'к']

In [23]:
rabbits = ['Пушок', 'Дружок', 'Мурзик', 'Барсик', 'Эдуард', 'Ушастик', 'Роджер', 'Трус']
rabbits[7:0:-2]

['Трус', 'Ушастик', 'Барсик', 'Дружок']

In [29]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']
sparta[-2:1:-3]

['Капустин', 'Козлов', 'Сидоров']

In [30]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list[2])

97

In [31]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(result)

399

In [32]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [34]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
print(my_list.sort(reverse = True))

None

In [36]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)
print(my_list)

[1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1]

In [39]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
print(my_list)

['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']

In [2]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for i in old_salary:
    new_salary.append(i * 1.9)
print(new_salary)

[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [ ]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for i35 in old_salary:
    new_salary.append(i35 * 1.9)
print(new_salary)

In [ ]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for i35 in old_salary:
    new_salary.append(i35 * 1.9)
print(new_salary)

In [2]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for iii in old_salary:
    new_salary.append(iii * 1.95)
print(new_salary)

[68250.0, 97500.0, 126750.0, 95550.0, 107250.0]

In [3]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for asd in fruits:
    my_list.append(asd[0])
my_list.sort()